/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.tttBoardParent{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height:  400px;
  width: 350px;
  gap: 5px;
  
}

.headers{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cell{
  border: 2px solid blue;
  height: 100px;
  width: 100px;
  display: flex;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.512);
  

}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
